modules = ["nodejs-20"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Solver"

[[workflows.workflow]]
name = "Run Solver"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node solve.js"

[workflows.workflow.metadata]
outputType = "console"
